name: Lint Code Base

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter/slim@v4
        env:
          # only new or edited files will be parsed for validation
          # VALIDATE_ALL_CODEBASE: false
          TYPESCRIPT_DEFAULT_STYLE: true
          VALIDATE_HTML: true
          VALIDATE_CSS: true
          VALIDATE_JSON: true
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
